name: Qodana Code Quality Check
permissions:
  contents: read
on:
  push:
    branches:
      - master

jobs:
  analyze:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Run Qodana
        uses: JetBrains/qodana-action@latest
        timeout-minutes: 20
        env:
          QODANA_TOKEN: ${{ secrets.QODANA_TOKEN }}
        with:
          args: --clear-cache
